.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-size: 36px;
  height: 100px;
  align-items: center;
  position: fixed;
  top :0px;
  width : 100%;
  background-color: white; 
  z-index: 5;
}

.header .item {
  color : black;
  text-decoration: none;
}

.pageContent {
  margin-top : 100px;
  z-index : 0;
}

.header .item:hover {
  color : black;
  text-decoration: underline;
}

.containerWork {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}

.containerWork .itemWork {
  color : black;
  text-decoration: none;
  font-size: 53px;
}

.containerWork .itemWork:hover {
  color : black;
  text-decoration: underline;
}

hr {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  width : 100%;
  bottom: 0;
  align-self: flex-end;
}

@font-face {
  font-family: 'Superspitze Grotesk';
  src: url('./font/SuperspitzeGrotesk-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('./font/SuperspitzeGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/SuperspitzeGrotesk-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('./font/SuperspitzeGrotesk-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/SuperspitzeGrotesk-SemiBold.svg#e00e7a6d2841f025d96010a5cd455804') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

body {
    font-family: 'Superspitze Grotesk';
    margin : 0px;
}

.workImg {
  width : 545px;
  height: 360px;
  margin-bottom: 60px;
  margin-right: 30px;
  margin-left: 30px;
}

.imgContainer {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  flex-wrap: wrap;
  justify-content : center;
}

.imgContainer:hover {
  cursor:pointer;
}

.overLay {
  background:#fff;
  position: absolute;
  width: 405;
  height: 270;
  left: 100;
  top: 45;
  opacity: 0;
  vertical-align: middle;
  line-height: 250px;
  font-family: 'Superspitze Grotesk';
  font-size: 30px;
}

.overLayContainer:hover .overLay {
  opacity: 0.9;
    transition: opacity .5s cubic-bezier(0,1,1,.93);
   -moz-transition: opacity .5s cubic-bezier(0,1,1,.93);
   -webkit-transition: opacity .5s cubic-bezier(0,1,1,.93);
}

.overLayContainer {
  position: relative;
}

.projectImgContainer {
  display : flex;
  justify-content : center;
  align-items : center;
}

.projectImg {
  width : 1600px;
  height : 1000px;
  margin-left : 30px;
  margin-right : 30px;
}

.projectTitleTextContainer {
  display: flex;
  font-family: 'Superspitze Grotesk';
  font-size: 72px;
  margin-top : 159px;
  margin-bottom: 45px;
  justify-content : center;
  align-items : center;
}

.projectDescriptionContainer {
  display: flex;
  font-family: 'Superspitze Grotesk';
  font-size: 18px;
  margin-left: 30px;
  margin-right :30px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  align-items : baseline;
  justify-content : center;

}

.projectDescription {
  word-wrap: break-word;
  overflow-x: hidden;
  width : 1200px;
}

.projectTitles {
  display:flex;
  flex-direction: column;
  margin-left: 40px;
  align-self: center;
  width : 360px;
}

.rectLeft {
  fill:transparent;
  stroke:#231420;
  stroke-width:8;
  fill-opacity:0;
  stroke-opacity:1;
  width:342px;
  height: 204px;
}

.svgLeft {
  margin-left: 30px;
  margin-right: 0px;
  margin-bottom: 50px;
  width:342px;
  height: 204px;
}

.rectContainer {
  display: flex;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-top: 116px;
}

.rectRight {
  fill:transparent;
  stroke:#231420;
  stroke-width:8;
  fill-opacity:0;
  stroke-opacity:1;
  width:342px;
  height: 204px;
}

.svgRight {
  margin-bottom: 50px;
  width:342px;
  height: 204px;
  margin-left: auto;
}

.line {
  stroke:#231420;
  stroke-width:8;
  width: 120;
  height: 120;
}

.svgLine {
  flex-grow: 1;
  stroke:#231420;
  stroke-width:8;
  width: 120;
  height: 120; 
}

.aboutDescriptionContainer {
  display: flex;
  font-family: 'Superspitze Grotesk';
  font-size: 18px;
  margin-left: 30px;
  margin-right :30px;
  margin-top : 120px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
  align-items : flex-start;
  justify-content : center;

}

.aboutDescription {
  word-wrap: break-word;
  overflow-x: hidden;
  width : 1200px;
}

.aboutTitles {
  display:flex;
  flex-direction: column;
  align-self: center;
  width : 360px;
  margin-right: 40px;
}
