<nav class='header'>
  <div id='outerHeaderDiv'>
    <div id='innerHeaderDiv'>
      <a class= 'item' ui-sref="addProject"><img src="shak_logo.png"><img class='logo' src="plus.png"></a> 
      <a class= 'item' ui-sref="listProjects"><img src="shak_logo.png"><img class='logo' src="pencil.png"></a>
      <a class= 'item' ui-sref="work">work</a> 
      <a class= 'item' ui-sref="editAbout">about<img class='logo' src="pencil.png"></a> 
      <a class= 'item' ui-sref="editContact">contact<img class='logo' src="pencil.png"></a>
      </div>
  </div>
<hr>
</nav>
<!-- <button type="submit" ng-click='logout()'>logout</button> -->

<div ui-view class='pageContent' autoscroll="false"></div>

