<div class='projectTitleTextContainer'>{{data.projectTitle}}</div>
<div class='projectImgContainer'>
<img class='projectImg' src="{{data.image}}">
</div>
<div class='projectDescriptionContainer'>
  <span class='projectDescription'>{{data.projectDescription}}</span>
  <span class='projectTitles'>
    <div>Title:  {{data.projectTitle}}</div>
    <div>Client:  {{data.projectClient}}</div>
    <div>Discipline:  {{data.projectDiscipline}}</div>
    <div>Collaborator:  {{data.projectCollaborator}}</div>
    <div>Details:  {{data.projectDetails}}</div>
    <div>Url: {{data.projectUrl}}</div>
  </span>
</div>
<div class='rectContainer'>
<svg class='svgLeft'>
  <g>
  <rect class='rectLeft'/>
  <text font-family="Superspitze Grotesk" fill="black" x='171' y='102' font-size='36px' text-anchor="middle" alignment-baseline="middle">Previous</text>
  </g>
</svg>
<svg class='svgLine'>
  <line class='line' x1="0" y1="102" x2="100%" y2="102" style="stroke: black;"/>
</svg>
<svg class='svgRight'>
  <g>
  <rect class='rectRight'/>
  <text font-family="Superspitze Grotesk" fill="black" x='171' y='102' font-size='36px' text-anchor="middle" alignment-baseline="middle">Next</text>
  </g>
</svg>
</div>