<div class='projectTitleTextContainer'>{{data.projectTitle}}</div>
<div class='projectImgContainer'>
<img shak-carousel-project='{{data.projectImageUrls}}' class='projectImg' src="{{data.projectImageUrl}}">
</div>
<div class='projectDescriptionContainer'>
  <span class='projectDescription'>{{data.projectDescription}}</span>
  <span class='projectTitles'>
    <div>Title:  {{data.projectTitle}}</div>
    <div>Client:  {{data.projectClient}}</div>
    <div>Discipline:  {{data.projectDiscipline}}</div>
    <div>Collaborator:  {{data.projectCollaborator}}</div>
    <div>Details:  {{data.projectDetails}}</div>
    <div>Url: {{data.projectUrl}}</div>
  </span>
</div>
<div class='rectContainer'>
  <img class='prevImg' ng-src="{{transformImage(data.prevProject.projectImageUrls[0])}}" >
<svg class='svgLeft' ng-click='goToPrevProj()'>
  <g>
  <rect class='rectLeft'/>
  </g>
</svg>

<svg class='svgLine' >
  <line class='line' x1="0" y1="102" x2="100%" y2="102" style="stroke: black;"/>
</svg>
  <img class='nextImg' ng-src="{{transformImage(data.nextProject.projectImageUrls[0])}}" >
<svg class='svgRight' ng-click='goToNextProj()'>
  <g>
  <rect class='rectRight'/>
  </g>
</svg>
</div>