<div class='projectTitleTextContainer'>
  projectTitleTextContainer
</div>
<div class='projectImgContainer'>
<img class='projectImg' src="http://img.ffffound.com/static-data/assets/6/87009f70b137ee256879a736ccc91be7180da032_m.jpg">
</div>
<div class='projectDescriptionContainer'>
  <span class='projectDescription'>
I am the founder and current director of this project, overseeing all areas including research, graphic design, web design, social media presence, and performances. 
"Trail of Silence is a two-part investigation into the killings of unarmed civilians by police since 2000.

The first is an independent investigation into the cases of unarmed civilians that have been killed by police, reading every story and doing additional research behind each victim. This began in response to the lack of a comprehensive federal database about who is killed by police annually while unarmed.

The second part is an art and design project, initiated in an attempt to return to these numerous victims not just a number, but a name and a back story. This begins with the research blog which catalogs individual incidents, and ends with public performances in which post cards, bearing the names and stories of these victims that are addressed to the police stations which were involved in their deaths, are distributed by a masked stand-in for the lost."
  </span>
  <span class='projectTitles'>
    <div>Title: Personal Project</div>
    <div>Client: Joe Daddy</div>
    <div>Collaborator: Joe Daddy AKA thor molecules aka Galaxy Knuckles</div>
    <div>Details</div>
    <div>Url</div>
  </span>
</div>
<div class='rectContainer'>
<svg class='svgLeft'>
  <g>
  <rect class='rectLeft'/>
  <text font-family="Superspitze Grotesk" fill="black" x='171' y='102' font-size='36px' text-anchor="middle" alignment-baseline="middle">Previous</text>
  </g>
</svg>
<svg class='svgLine'>
  <line class='line' x1="0" y1="102" x2="100%" y2="102" style="stroke: black;"/>
</svg>
<svg class='svgRight'>
  <g>
  <rect class='rectRight'/>
  <text font-family="Superspitze Grotesk" fill="black" x='171' y='102' font-size='36px' text-anchor="middle" alignment-baseline="middle">Next</text>
  </g>
</svg>
</div>