<nav class='containerWork'>
  <a class='itemWork' href="" ng-click='show("all")'>all</a> 
  <a class='itemWork'href="" ng-click='show("identity")'>identity</a> 
  <a class='itemWork'href="" ng-click='show("interactive")'>interactive</a>
  <a class='itemWork'href="" ng-click='show("print")'>print</a>
  <a class='itemWork'href="" ng-click='show("direction")'>direction</a>
</nav>

<div class='imgContainer' ng-click='goToProj()'>
  <span class='overLayContainer' >
    <img class='workImg' src="http://img.ffffound.com/static-data/assets/6/375a493518520c0db280a872f99e955e88854c98_m.jpg">
    <span align='middle' class='overLay'>test</span>
  </span>
</div>

