<nav class='containerWork'>
  <a class='itemWork' href ng-click='show("data")' autofocus>all</a> 
  <a class='itemWork'href="" ng-click='show("identity")'>identity</a> 
  <a class='itemWork'href="" ng-click='show("interactive")'>interactive</a>
  <a class='itemWork'href="" ng-click='show("print")'>print</a>
  <a class='itemWork'href="" ng-click='show("direction")'>direction</a>
</nav>

<div class='imgContainer'>
  <span class='overLayContainer' ng-repeat='(key, projectObj) in projects' ng-click='goToProj(key)'>
    <img class='workImg' ng-src="{{projectObj.project.projectImageUrls[0]}}">
    <span align='middle' class='overLay'>{{projectObj.project.projectTitle}}</span>
  </span>
</div>

